{
  "oracle": {
    "host": "...", 
    "port": "...", 
    "sid": "...", 
    "user": "...", 
    "password": "..."
  },
  "mysql": {
    "user": "...", 
    "password": "...", 
    "host": "...", 
    "db": "...",
    "charset": "..."
  }
}